@model MVC_Digitec.Models.ItemViewModel

@{
    ViewData["Title"] = "EditItem";
}

<h1>EditItem</h1>

<h4>ItemM</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditItem">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <input type="hidden" asp-for="Item.id" />
            <div class="form-group">
                <label asp-for="Item.name" class="control-label"></label>
                <input asp-for="Item.name" class="form-control" />
                <span asp-validation-for="Item.name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Item.description" class="control-label"></label>
                <input asp-for="Item.description" class="form-control" />
                <span asp-validation-for="Item.description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Item.price" class="control-label"></label>
                <input asp-for="Item.price" class="form-control" />
                <span asp-validation-for="Item.price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Item.employeeId">Employee</label>
                <select asp-for="Item.employeeId" asp-items="Model.Employees" class="form-control"></select>
                <span asp-validation-for="Item.employeeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
